#bbody {
    margin:0; 
    padding:0;
     align-items:center; 
     text-align:center; 
   }
   #box {
     width:102vw;
     background:linear-gradient(to right,
     rgba(40, 0, 0),
     rgba(45, 40, 20), rgba(50, 20, 40));
     
     opacity:0.9;
     height:100vh;
     z-index:-1;
     margin-top:-50px;
     position: absolute;
     
   }
   
   #glass {
  overflow:hidden;
   width: 400px;
   height:550px; 
   margin:auto;
   margin-top:50px;
   background: rgba(255, 255, 255, 0.2);
   border-radius: 25px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(3px);
   border: 1px solid rgba(255, 255, 255, 0.3);
   }
   #c {
   position: absolute;
   top:0px;
   left:50vw;
   z-index:99;
   color:#1199ff;
   font-size:155%;
   }
   #login-box {
   display:flex;  
   flex-direction:column;
   justify-content:center;
   gap: 15px;
   margin-left:-150px;
   width: 200px;
   border-radius: 20px; 
   opacity:0.9;
    transition: all 0.3s ease-in-out;
   }
   
   #login-box #name,#login-box #pass {
   border:none;
   border-bottom:2px solid grey;
   border-radius:10px;
   width:200px;
   height:40px;
   color: yellow;
   background:none; 
   }
   
   #login-box label {
   z-index: 3; 
   width: 60px; 
   transform:translateY(10px) translateX(0px);
   color: #ff1111;
   }
   
   
   #login-box button {
   margin-top:80px;
   width: 100px; 
   color:red;
   height:30px;
   background: #21ff63;
   box-shadow: 0 0 5px #2196f3, 0 0 5px #2196f3, 0 0 5px #2196f3;
   border-radius:10px;
   }
   
   #sign-box {
   display:flex;  
   flex-direction:column;
   justify-content:center;
   margin:auto;
   margin-left:-150px;
   gap: 10px;
   width:300px;
   border-radius: 20px; 
   opacity:0.9;
    transition: all 0.3s ease-in-out;
   }
   h1 {
    font-weight: bold;
    font-size: 250%;
   }
   a,button{
    cursor:pointer;
   }
   #sign-box #name,#sign-box #pass,#sign-box #mail {
   border:none;
   border-bottom:2px solid grey;
   border-radius:10px;
   width:300px;
   height:40px;
   color: yellow;
   background:none; 
   }
   
   #sign-box label {
   z-index: 3; 
   width: 60px; 
   transform:translateY(10px) translateX(0px);
   color: #ff1111;
   }
   
   
   #sign-box button {
   margin-top:35px;
   height:30px;
   width: 100px; 
   background: #21ff63;
   box-shadow: 0 0 5px #2196f3, 0 0 5px #2196f3, 0 0 5px #2196f3;
   border-radius:10px;
   color:red;
   }
   
   #card {
   opacity:0.3;
   margin-left: 500px;
   width: 200px;
   height:550px; 
   transition: all 0.1s ease-in-out;
   }
   @keyframes anm {
     0%{
       transform:translateX(0);
     }
     100%{
      transform:translateX(-700px); 
     }
     
   }
   @keyframes anm2 {
     0%{
       transform:translateX(0);
     }
     100%{
      transform:translateX(-700px); 
     }
     
   }
   #fp {
   position: absolute;
   margin-top:270px;
   left:10px;
   cursor: pointer;
   }
   @media (min-width:750px){
    #glass{
      width:700px;
    }
    #c{
      width:500px;
      margin-left: -100px;
    }
    #sign-box #name,#sign-box #pass,#sign-box #mail,#login-box #name,#login-box #pass{
      width:400px;
    }
   }